<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Scribbles</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen flex flex-col transition-colors duration-400 ease-in-out ransition-all duration-500 ease-in-out">

  <div class="main flex flex-1">
    <!-- Left Section -->
    <div class="flex-1 bg-cover bg-center text-white flex items-center " style="background-image: url(/scribbles_project/static//src/images/SS.png);">
    </div>

 
    <!-- Logo -->
    <div class="absolute mt-36 left-1/2 text-white pl-56 ml-28">
      <img src="/scribbles_project/static/src/images/speechbubble-dark-mode.png" alt="Secret Scribbles Logo">
    </div>

    

    <!-- Content Section -->
    <div class="flex-1 bg-gray-950  text-white flex flex-col items-center justify-center space-y-6 transition-all duration-500 ease-in-out">
      <h1 class="mt-52 text-3xl font-bold" style="font-family: Poppins;">Share Your Secrets Anonymously</h1>
      <p class="text-center text-lg w-3/4" style="font-family: Poppins;">A space where thoughts, confessions, and stories come alive through words. Read, respond, and reflect.</p>
      <div class="flex flex-col space-y-3">
        <a href="/scribbles/template/login.html">
        <button class="rounded-tl-2xl rounded-br-2xl bg-blue-500 text-white py-2 px-4 hover:bg-gradient-to-r from-purple-400 to-blue-500 font-bold ease-in duration-100" style="font-family: Poppins;">
          Get Started
        </button></a>
      </div>
    </div>
  </div>

  <footer>
    <section class="bg-gray-950 text-white py-4 " style="font-family: Poppins; font-weight:400">
      <div class="flex gap-16 justify-center">
        <h1 class="text-lg">About</h1>
        <h1 class="text-lg">Terms and Conditions</h1>
        <h1 class="text-lg">Privacy Policy</h1>
        <h1 class="text-lg">FAQs</h1>
        <h1 class="text-lg">Report a Problem </h1>
      </div>
    </section>

    <div class="bg-gray-950 text-white justify-center block flex pt-1 pb-1" style="font-family: Poppins; font-weight: 500;">
      <a>&copy; Secret Scribbles. All rights reserved.</h1>
    </div>
  </footer>
</body>
</html>

